	/*
	///////
	////////////
	html body
	///////////
	*/
body
{
	background:#65c7c3;
	width:100%;
	height:100%;
	
	}

html
{
	line-height:normal;
	font-family: 'Text';
	width:100%;
	height:100%;
	color:#fefefe;
	line-height:1.1em;
	
	}
	
/*
	///////
	////////////
	text headers tags
	///////////
	*/	
#header-content h1
{
	display:block;
	width:92px;
	margin:0 auto;
}
#header-content h1 span
{
	display: none;
}
#header-content h2
{
	font-size:1.5em; /*24px / 16px*/
	color:#fefefe;
	width:100%;
	font-family: 'Title';
}
	
	/*
	///////
	////////////
	wrapper div
	///////////
	*/
	
#wrapper
{

	width:100%;
	height:auto;
	margin:0 auto;
	z-index:1;
	top:0px;
	
	

}
	
	
	/*
	///////
	////////////
	header div
	///////////
	*/
	
#header
{
	
	background:#65c7c3;
	width:100%;
	height:112px;
	position:relative;
	z-index:3;
	border-bottom: 2px #e4e4e4 solid;
}

	
	/*
	///////
	////////////
	headerContent div
	///////////
	*/
#header-content
{
	width:87%;
	margin:0 auto;
	height:112px;
	
}
#header-content ul li
{

	float:left;
	padding-right:37px;

}
#header-content ul
{
	height:1.5em;
	width:420px;
	float:right;
	position:relative;
	bottom:10px;
	}
#header-content img
{
	position:relative;
	top:10px;
}
#header-content ul li h2 a:visited
{
	color:#fefefe;
	list-style:none;
	text-decoration:none;
}
#header-content ul li h2 a:link
{
	color:#fefefe;
	list-style:none;
	text-decoration:none;
}
#header-content ul li h2 a:hover
{
	color:#fefefe;
	list-style:none;
	text-decoration:none;
	padding-bottom:25px;
}

	/*
	///////
	////////////
	contact form left
	///////////
	*/
#contact_form
{
	width: 100%;
	margin: 0 auto;
	position:relative;
	height:auto;
	top:110px;
	padding-bottom: 20px;
}
.icon img
{
	width:64px;
	height:64px;
}
.icon
{
	padding-right:30px;
	padding-bottom:20px;
}
.icon img:hover
{
	position:relative;
	top:5px;
	transition: margin-top .2s ease-in-out ;
-moz-transition: margin-top .2s ease-in-out; /* Firefox 4 */
-webkit-transition: margin-top .2s ease-in-out; /* Safari and Chrome */
-o-transition: margin-top .2s ease-in-out; /* Opera */
}
.text
{
	margin-top:20px;
}
#contact_form #left_contact li
{
	float:left;
	font-family: 'Title';
	font-size:1.5em;
	color:#fefefe;
	list-style:none;
	text-decoration:none;
}
#contact_form #left_contact li a:link
{
	color:#fefefe;
	list-style:none;
	text-decoration:none;
}
#contact_form #left_contact li a:visited
{
	color:#fefefe;
	list-style:none;
	text-decoration:none;
}
#contact_form #left_contact li a:hover
{
	color:#fefefe;
	list-style:none;
	text-decoration:none;
}
#contact_form #left_contact
{
	width:186px;
	position:relative;
	top:120px;
	left: 0px;
}
.form_title_left
{
	font-family: 'Title';
	font-size:1.8em;
	color:#fefefe;
	position:relative;
	margin: 0 auto;
	top:90px;
	width:98%;
	text-align: center;
	
}
#contact_form .form_title_right
{
	font-family: 'Title';
	font-size:2.3em;
	color:#fefefe;
	position:relative;
	left:700px;
	top:54px;
	width:300px;
	
}
#fname, #lname, #email, #subject, #contact_form form textarea
{
	border:none;
	background: rgb(223, 223, 223);
	text-shadow: 1px 1px rgba(0,0,0,0.2);
	margin-top:15px;
	text-indent:10px;
	width: 98%;
	
}
#contact_form form
{
	width: 95%;
	margin:0 auto;
	height:auto;
	padding-bottom:20px;
	
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#fname, #lname, #email, #subject
{
width:90%;
height:28px;
font-size:1.2em;
text-shadow: 1px 1px rgba(0,0,0,0.2);
color:#fefefe;
font-family:'Text';
-moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0, 0.4);
-webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0, 0.4);
box-shadow: 0px 0px 2px 1px rgba(0,0,0, 0.4);

}
#message
{
	width:95%;
	height:156px;
	font-size:1.2em;
	color:#fefefe;
	font-family:'Text';
	-moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0, 0.4);
	-webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0, 0.4);
	box-shadow: 0px 0px 2px 1px rgba(0,0,0, 0.4);
	max-height:186px;
	max-width:95%;
}
#submit
{
	border:none;
	color:#fefefe;
	background: rgb(223, 223, 223);
	text-shadow: 1px 1px rgba(0,0,0,0.2);
	margin-top:15px;
	width:101px;
	height:25px;
	font-size:1.2em;
	font-family:'Text';
	border-radius:4px;
	-moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0, 0.4);
-webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0, 0.4);
box-shadow: 0px 0px 2px 1px rgba(0,0,0, 0.4);
cursor:pointer;

}


	/*
	///////
	////////////
	contact form right
	///////////
	*/
	
	/*
	///////
	////////////
	footer
	///////////
	*/

#footer
{
	background:#65c7c3;;
	width:100%;
	position:fixed;
	left:0%;
	bottom:0;
	z-index:3;
	border-top: 2px #e4e4e4 solid;
	
	
}

#footer p
{
	font-family: 'Text';
	font-size:.9em;
	color:#fefefe;
	position:relative;
	text-align:center;
	padding-top:.5%;
	bottom:3px;
	width:100%;
}

#footer p a
{
	color:#fefefe;
	text-decoration:none;
}


	/*
	///////
	////////////
	email
	///////////
	*/


.incorrect
{
	color:#000000;
	padding-top:10px;
}
.correct
{
	color:#000000;
	padding-top:10px;
}


	/*
	///////
	////////////
	fonts
	///////////
	*/

@font-face 
 {
    font-family: 'Text';
    src: url('../fonts/ubuntu-r-webfont.eot');
    src: url('../fonts/ubuntu-r-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-r-webfont.woff') format('woff'),
         url('../fonts/ubuntu-r-webfont.ttf') format('truetype'),
         url('../fonts/ubuntu-r-webfont.svg#ubunturegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face
 {
    font-family: 'Title';
    src: url('../fonts/ubuntu-r-webfont.eot');
    src: url('../fonts/ubuntu-r-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-r-webfont.woff') format('woff'),
         url('../fonts/ubuntu-r-webfont.ttf') format('truetype'),
         url('../fonts/ubuntu-r-webfont.svg#ubunturegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face
 {
    font-family: 'Logo';
    src: url('../fonts/ubuntu-r-webfont.eot');
    src: url('../fonts/ubuntu-r-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-r-webfont.woff') format('woff'),
         url('../fonts/ubuntu-r-webfont.ttf') format('truetype'),
         url('../fonts/ubuntu-r-webfont.svg#ubunturegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
